* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-popup,
.lose-popup,
.win-popup {
  background-color: #ffffff;
  width: 420px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
  font-family: sans-serif;
  text-align: center;
  box-shadow: gray 0px 5px 15px;
}

.start-popup h2,
.start-popup p {
  margin: 10px;
}

#start,
.play-again-w,
.play-again-l {
  display: center;
  margin: 8px;
  background-color: transparent;
  font-size: 14px;
  color: #ffffff;
  background: #90856b;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.play-again-w,
.play-again-l {
  width: 100px;
}

#start:hover,
.play-again-l:hover,
.play-again-w:hover {
  background-color: rgb(165, 130, 103);
  opacity: 10;
  box-shadow: gray 0px 2px 1px;
}

#lose {
  margin: 10px;
}

#win {
  display: block;
  margin: 15px auto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  font-family: sans-serif;
}

h1,
h2 {
  margin: 1vmin;
}

img {
  border-radius: 1vmin;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 15vmin);
  grid-template-rows: repeat(4, 20vmin);
  justify-items: center;
}

.cards {
  position: relative;
  height: 150px;
  width: 106px;
  perspective: 1500px;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.16, 0.885, 0.32, 1.275);
}

.front,
.back {
  position: absolute;
  width: 106px;
  border: solid gray 2px;
  box-shadow: gray 0px 5px 15px;
}

.back {
  object-fit: none;
  backface-visibility: hidden;
}

.back:hover {
  border: solid white 5px;
  opacity: 0.95;
}

.front {
  border: solid white 5px;
}

.flipCard {
  transform: rotateY(180deg);
}

.unflipCard {
  transform: rotateY(180deg);
}

.preventClick {
  pointer-events: none;
}

.allowClick {
  pointer-events: all;
}
